* {
  z-index: 0;
  margin: 0;
  font-family: Helvetica;
  color: seashell;
  background-color: black;
  text-align: center;
}

header {
  padding: 20px 30px;
  width: 100%;
  z-index: 2;
}

nav {
  width: 100%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}


/* Styles */

.navBar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navLinks{
  display: flex;
  list-style: none;
}

.navItem {
  display: inline-block;
  padding: 10px 15px;
  color: white;
}

.navItem a {
  text-decoration: none;
}

/*playing with grid design*/
.container {
  display: grid;
  max-width: 900px;
  position: relative;
  margin: auto;
  gap: 10px;
  grid-template-areas: "header header"
                       "nav nav"
                       "left right"
                       "footer footer";
  grid-template-rows: 150px 200px 600px 200px;
  grid-template-columns: 200px 400px;
}

h1, h2 {
  font-family: monospace;
  text-align: center;
}

header {
  background-color: dodgerblue;
  grid-area: header;
}

nav {
  background-color: beige;
  grid-area: nav;
}

.left {
  background-color: dodgerblue;
  grid-area: left;
}

.right {
  background-color: beige;
  grid-area: right;
}

footer {
  background-color: dodgerblue;
  grid-area: footer;
}


/* Footer */

.footerText {
  text-align: left;
  padding-left: 30px;
}