* {
  z-index: 0;
  margin: 0px;
  padding: 0px;
  font-family: space, mono, sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: seashell;
  background-color: black;
  text-align: center;
}

html {
  scroll-behavior: smooth;
}

main {
  margin: 2rem auto;
  width: 80%;
}

nav {
  width: 100%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}


/* Styles */
.picture {
  height: 20rem;
  width: 20rem;
  background-color: #bbb;
  border: 2px solid #7dda5d;
  border-radius: 50%;
  display: inline-block;
  background-image: url(octo.webp);
  background-position: center;
  background-size: 20rem;
}

.title {
  margin: 1rem;
}

.navItem {
  display: inline-block;
  padding: 10px 15px;
  color: white;
}

.navItem a {
  text-decoration: none;
  color: #7dda5d;
}

.navItem a:hover {
  color: #fff;
}

.navItem a:active {
  color: #7dda5d;
}

#contactBtn {
  padding: 1rem;
}

.formSection {
  padding-top: 3rem;
  display: none;
  height: 0rem;
  transition: 2s;
  width: 100%;
}

.formStyle {
  width: 100%;
  display: block;
}

.formInputContainer {
  margin: 1rem;
}

.formInput {
  font-size: 1rem;
  padding: 0.5rem;
  width: 25rem;
}

.formInputMsg {
  width: 25rem;
  padding: 0.5rem;
  font-size: 1rem;
}

.submitBtn {
  padding: 1rem;
  margin-left: 1.5rem;
}

.is-open {
  display: block;
  height: 40rem;
}



@media screen and (max-width: 650px) { 
  .formInput {
    width: 100%;
  }
  .formInputMsg {
    width: 100%;
  }
}

/* FONT FAMILY CSS */
@font-face { font-family: space; src: url('fonts/SpaceGrotesk-VariableFont_wght.ttf'); 
  font-display: swap;
 }
 @font-face { font-family: mono; src: url('fonts/ShareTechMono-Regular.ttf'); 
  font-display: swap;
 }
