* {
  z-index: 0;
  margin: 0px;
  padding: 0px;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: seashell;
  background-color: black;
  text-align: center;
}

main {
  margin: 2rem auto;
  width: 80%;
}

nav {
  width: 100%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}


/* Styles */
.picture {
  height: 20rem;
  width: 20rem;
  background-color: #bbb;
  border: 2px solid #7dda5d;
  border-radius: 50%;
  display: inline-block;
  background-image: url(octo.webp);
  background-position: center;
  background-size: 20rem;
}

.title {
  margin: 1rem;
}

.navItem {
  display: inline-block;
  padding: 10px 15px;
  color: white;
}

.navItem a {
  text-decoration: none;
  color: #7dda5d;
}

.navItem a:hover {
  color: #fff;
}

.navItem a:active {
  color: #7dda5d;
}

.formSection {
  padding-top: 3rem;
}

.inputContainer {
  padding: 0.5rem;
}

.formInput {
  font-size: 1rem;
  padding: 0.5rem;
  width: 25rem;
}

.formInputMessage {
  width: 25rem;
  padding: 0.5rem;
  font-size: 1rem;
}

.submitBtn {
  padding: 1rem;
  margin-left: 1.5rem;
}



@media screen and (max-width: 650px) { 
  .formInput {
    width: 100%;
  }
  .formInputMessage {
    width: 100%;
  }
}
